.container {
	max-width: 1000px;
    display: flex;
	flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.button-area {
	display: flex;
	justify-content: flex-start;
	flex-flow: wrap;
}

.App {
  text-align: center;
}

body {
	background-color: #01010e;
}

.button-symbol {
	background-color: #242323;
	border-radius: 100px;
	margin: 10px;
    font-weight: bold;
	width: 30px;
    height: 30px;
    font-size: 20px;
}

.button-symbol.button-x {
	color: lightskyblue;
}

.button-symbol.button-y {
	color: yellow;
}

.button-symbol.button-a {
	color: red;
}

.button-symbol.button-b {
	color: greenyellow;
}

.info {
	margin-bottom: 20px;
	color: #fff;
}